#title
{
    width: 310px;
}

#ingredients
{
    width: 310px;
    height: 210px;
}

#contentsSize
{
    width: 310px;
}

#userName
{
    width: 310px;
}

#preview 
{
    width: 310px;
    height: 210px;
}

#imageScale
{
    width: 310px;
}

#resultOverlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.589);

    display: none;

    justify-content: center;
    align-items: center;
}

#resultImage
{
    width: 600px;
    height: 400px;
}

#generateButton
{
    width: 40%;
    height: 50%;
}
#imageCancel
{
    width: 5%;
    height: 10%;
}